#Nama : Yusuf Jordan El Anwar
#Npm : 1184026
#Kelas : D4 TI 3C

## Import Semua Library yang dibutuhkan

In [2]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import metrics
%matplotlib inline

# Ambil Datanya

### 1) Simpan dalam variable = df_npm

In [3]:
df_1184026 = pd.read_csv('Churn_Modelling.csv')[5000:]

### 2) Tampilkan datanya bagian akhir saja sebanyak 10 data

In [4]:
df_1184026

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5000,5001,15598695,Fields,834,Germany,Female,68,9,130169.27,2,0,1,93112.20,0
5001,5002,15649354,Johnston,754,Spain,Male,35,4,0.00,2,1,1,9658.41,0
5002,5003,15737556,Vasilyev,590,France,Male,43,7,81076.80,2,1,1,182627.25,1
5003,5004,15671610,Hooper,740,France,Male,36,7,0.00,1,1,1,13177.40,0
5004,5005,15625092,Colombo,502,Germany,Female,57,3,101465.31,1,1,0,43568.31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### 3) Berapa kolom dan row

In [5]:
df_1184026.shape

(5000, 14)

###  4) Apakah ada data yg null?

In [6]:
df_1184026.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 5000 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        5000 non-null   int64
 1   CustomerId       5000 non-null   int64
 2   Surname          5000 non-null   object
 3   CreditScore      5000 non-null   int64
 4   Geography        5000 non-null   object
 5   Gender           5000 non-null   object
 6   Age              5000 non-null   int64
 7   Tenure           5000 non-null   int64
 8   Balance          5000 non-null   float64
 9   NumOfProducts    5000 non-null   int64
 10  HasCrCard        5000 non-null   int64
 11  IsActiveMember   5000 non-null   int64
 12  EstimatedSalary  5000 non-null   float64
 13  Exited           5000 non-null   int64
dtypes: float64(2), int64(9), object(3)
memory usage: 547.0+ KB

In [7]:
#Remove the unnecessary columns customerID & UpdatedAt
cleaned_df = df_1184026.drop(['CustomerId','Surname'], axis=1)
print(cleaned_df.head())

      RowNumber  CreditScore Geography  Gender  Age  Tenure    Balance  \
5000       5001          834   Germany  Female   68       9  130169.27
5001       5002          754     Spain    Male   35       4       0.00
5002       5003          590    France    Male   43       7   81076.80
5003       5004          740    France    Male   36       7       0.00
5004       5005          502   Germany  Female   57       3  101465.31

      NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
5000              2          0               1         93112.20       0
5001              2          1               1          9658.41       0
5002              2          1               1        182627.25       1
5003              1          1               1         13177.40       0
5004              1          1               0         43568.31       1

In [8]:
for column in cleaned_df.columns:
    if cleaned_df[column].dtype == np.number: continue
    # Perform encoding for each non-numeric column
    cleaned_df[column] = LabelEncoder().fit_transform(cleaned_df[column])
print(cleaned_df.describe())

         RowNumber  CreditScore    Geography       Gender          Age  \
count  5000.000000  5000.000000  5000.000000  5000.000000  5000.000000
mean   2499.500000   242.941600     0.746000     0.554800    20.851200
std    1443.520003    95.333326     0.827539     0.497038    10.359002
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%    1249.750000   177.000000     0.000000     0.000000    14.000000
50%    2499.500000   243.000000     0.000000     1.000000    19.000000
75%    3749.250000   310.000000     1.000000     1.000000    26.000000
max    4999.000000   441.000000     2.000000     1.000000    65.000000

            Tenure        Balance  NumOfProducts    HasCrCard  IsActiveMember  \
count  5000.000000    5000.000000    5000.000000  5000.000000     5000.000000
mean      5.016400   75919.845950       0.537200     0.702400        0.520200
std       2.904999   62378.194403       0.581278     0.457248        0.499642
min       0.000000       0.000000       0.000000     0.000000        0.000000
25%       2.000000       0.000000       0.000000     0.000000        0.000000
50%       5.000000   96778.940000       0.000000     1.000000        1.000000
75%       7.250000  127298.047500       1.000000     1.000000        1.000000
max      10.000000  222267.630000       3.000000     1.000000        1.000000

       EstimatedSalary       Exited
count      5000.000000  5000.000000
mean      99836.731144     0.198200
std       57316.570906     0.398684
min          90.070000     0.000000
25%       51358.462500     0.000000
50%       99875.635000     0.000000
75%      149511.647500     0.000000
max      199992.480000     1.000000

<ipython-input-8-90317fd3deca>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if cleaned_df[column].dtype == np.number: continue

In [9]:
cleaned_df.head()

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5000,0,426,1,0,50,9,130169.27,1,0,1,93112.20,0
5001,1,346,2,1,17,4,0.00,1,1,1,9658.41,0
5002,2,182,0,1,25,7,81076.80,1,1,1,182627.25,1
5003,3,332,0,1,18,7,0.00,0,1,1,13177.40,0
5004,4,94,1,0,39,3,101465.31,0,1,0,43568.31,1

### 4) Pilih data yg menjadi prediktor dan target

#### - simpan data prediktor dalam variable = varpred_NPM 
#### - simpan data target dalam variable = vartar_NPM

In [10]:
varpred_1184026=cleaned_df.iloc[:, :-1].values
vartar_1184026=cleaned_df.iloc[:, -1].values

semua data kategorikal di convert

# Decission Tree

### Split data menjadi training dan testing 
dengan ketentuan data training harus lebih dari 60 %

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(varpred_1184026,vartar_1184026,  test_size=0.3)

### Buat model  dari algoritma DT kemudian simpan dalam variable = modelDT_NPM

In [12]:
modelDT_1184026= DecisionTreeClassifier(criterion='entropy', max_depth=1)

In [13]:
#melakukan fit data model dengan training data
modelDTl_1184026 = modelDT_1184026.fit(X_train,Y_train)

In [14]:
#evaluasi akurasi model yg sudah dibuat
y_pred = modelDTl_1184026.predict(X_test)

In [15]:
predik = metrics.accuracy_score(Y_test,y_pred)

In [16]:
#kalkulasi akurasi dalam bentuk presentasi
print('Akurasinya adalah:',predik * 100, '%')

Akurasinya adalah: 80.13333333333334 %

In [17]:
confusion_matrix (Y_test, y_pred)

array([[1202,    0],
       [ 298,    0]], dtype=int64)

# Adaboost

### Buat model  dari algoritma Adaboost kemudian simpan dalam variable = modelAda_NPM

In [18]:
adaboost = AdaBoostClassifier(base_estimator=modelDT_1184026,n_estimators=100, learning_rate=1)

In [19]:
#melakukan fit data model dengan training data
modelAda_1184026 = adaboost.fit(X_train,Y_train)

In [20]:
#evaluasi akurasi model yg sudah dibuat
y_pred_boost = modelAda_1184026.predict(X_test)

In [21]:
predik = metrics.accuracy_score(Y_test,y_pred_boost)

In [22]:
#kalkulasi akurasi dalam bentuk presentasi
print('Akurasinya adalah:',predik * 100, '%')

Akurasinya adalah: 86.46666666666667 %

In [23]:
confusion_matrix (Y_test, y_pred_boost)

array([[1154,   48],
       [ 155,  143]], dtype=int64)